* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: rgb(245, 245, 245);*/
    background-color: white;
    overflow-y: scroll;
    overflow-x: scroll;
}

#wrapper {
    position: absolute;
    top: 0;
    z-index: 999;
    background-image: url(http://zhongguose.com/img/texture.png);
    background-color: rgb(186, 204, 217);
}

.topmenu {
    float: right;
}

.topmenu ul li {
    display: inline-block;
    list-style: none;
}

.toplogo {
    float: left;
}

.toplogo img {
    width: 94px;
    height: 94px;
    margin-left: 50px;
}

.topmenu ul li a {
    display: block;
    padding: 40px 25px;
    text-decoration: none;
    color: white;
}

.header {
    width: 80%;
    margin-left: 10%;
}

.topmenu ul li:hover {
    background-color: rgb(119, 171, 184);
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    -webkit-transition: all 0.6s;
}

.home {
    position: absolute;
    top: 100.67px;
    margin-top: 5px;
    margin-left: 15%;
    background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.jj20.com%2Fup%2Fallimg%2F1114%2F112620113628%2F201126113628-1-1200.jpg&refer=http%3A%2F%2Fimg.jj20.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1652594949&t=4881864ef0caa453feb7c61d08930a5c);
    background-position: top;
    box-shadow: -1px 5px 17px 7px rgb(0 0 0 / 30%)
}

.jieshao {
    float: left;
    width: 50%;
    height: 400px;
}


.jieshao h1 {
    display: block;
    text-align: center;
    margin-left: 20%;
    font-size: 60px;
    color: #1793d1;
    font-weight: 700;
    margin-top: 80px;
}

.jieshao .scnusay {
    display: block;
    text-align: center;
    font-size: 80px;
    color: black;
    font-weight: 700;
    font-family: 'Helvetica';
    margin-top: 30px;
}