* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

#wrapper {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-image: url(http://zhongguose.com/img/texture.png);
    background-color: #ddd;
}

.topmenu {
    float: right;
}

.topmenu ul li {
    display: inline-block;
    list-style: none;
}

.toplogo {
    float: left;
}

.toplogo img {
    width: 94px;
    height: 94px;
    margin-left: 50px;
}

.topmenu ul li a {
    display: block;
    padding: 40px 25px;
    text-decoration: none;
    color: white;
}

.header {
    width: 80%;
    margin-left: 10%;
}

.topmenu ul li:hover {
    background-color: rgb(119, 171, 184);
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    -webkit-transition: all 0.6s;
}