* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236);
    overflow-y: scroll;
    overflow-x: scroll;
}

#wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background-image: url(http://zhongguose.com/img/texture.png);
    background-color: rgb(186, 204, 217);
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.3);
}

#wrapper2 {
    z-index: 999;
    height: 100px;
    background-image: url(http://zhongguose.com/img/texture.png);
    background-color: rgb(186, 204, 217);
    box-shadow: 0px -5px 21px 0px rgba(0, 0, 0, 0.3);
}

.topmenu {
    float: right;
    margin-right: 80px;
}

.topmenu ul li {
    display: inline-block;
    list-style: none;
}

.toplogo {
    float: left;
}

.toplogo img {
    width: 94px;
    height: 94px;
    margin-left: 130px;
}

.topmenu ul li a {
    display: block;
    padding: 40px 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header {
    width: 80%;
    margin-left: 10%;
}

.topmenu ul li:hover {
    background-color: rgb(119, 171, 184);
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    -webkit-transition: all 0.6s;
}

.whithback {
    background-color: rgb(239, 253, 255);
    height: 800px;
    margin: 10px 15% 10px 15%;
    box-shadow: 10px 5px 21px 10px rgba(0, 0, 0, 0.3);
}

.indeximg {
    background-color: white;
    height: 498px;
    margin: 110px 15% 0 15%;
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.3);
    background-image: url(https://s1.328888.xyz/2022/04/17/iVPyJ.png);
    transition: all 0.5s;
}

.indeximg:hover {
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.5);
    background-image: url(https://s3.bmp.ovh/imgs/2022/04/17/5b603612fbda5f3e.png);
    transform: translateY(-3px);
    /* Y 方向向上移动 */
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.backcontainer {
    float: left;
    width: 45%;
    height: 350px;
    margin-left: 40px;
    margin-top: 35px;
    box-shadow: -9px -12px 12px -2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.backcontainer:hover {
    transform: translateY(-5px);
    /* Y 方向向上移动 */
    transition: all 0.5s;
    -webkit-transition: all 0.8s;
}

.backcontainer h1 {
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 50px;
    margin-bottom: 10px;
}

.backcontainer p {
    color: white;
    margin-left: 50px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
}

.love {
    float: left;
    margin: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, #BACCD9, #fff);
}

.heart {
    margin: 15% auto;
    width: 14em;
    height: 11em;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    
}

.heart span {
    --c: lightblue;
    --h: 50%;
    --t: 25%;
    width: 1em;
    background-color: var(--c);
    border-radius: 0.5em;
    position: relative;
    height: var(--h);
    top: var(--t);
    animation: beating 4s infinite;
}

.heart span:nth-child(1),
.heart span:nth-child(9) {
    --c: orangered;
    --h: 3em;
    --t: 2.2em;
}

.heart span:nth-child(2),
.heart span:nth-child(8) {
    --c: gold;
    --h: 6em;
    --t: 0.6em;
}

.heart span:nth-child(3),
.heart span:nth-child(7) {
    --c: limegreen;
    --h: 8em;
    --t: 0em;
}

.heart span:nth-child(4),
.heart span:nth-child(6) {
    --c: dodgerblue;
    --h: 9em;
    --t: 0.8em;
}

.heart span:nth-child(5) {
    --c: mediumpurple;
    --h: 9.4em;
    --t: 1.6em;
}

@keyframes beating {

    0%,
    30% {
        height: var(--h);
        top: var(--t);
        background-color: var(--c);
        filter: blur(0);
        width: 1em;
    }

    60%,
    70% {
        height: 50%;
        top: 25%;
        background-color: lightblue;
        filter: blur(5px);
        width: 0.1em;
    }
}

.saomiao h1 {
    text-align: center;
    font-size: 30px !important;
    margin-left: 0 !important;
}